.card {
    background-color: $main-color;
    width: 400px;
    margin: auto;
    margin-top: 50px;
    border: 1px solid $main-light-color;

    &-header {
        font-size: 20px;
        border: 1px solid $main-light-color;
        padding: 10px;
    }

    &-body {
        padding: 10px;

        * {
            width: 100%;
            display: inline-block;
        }

        input, textarea {
            background-color: lighten($main-color, 12%);
            border: 1px solid $main-color;
            outline: none;
            resize: none;
        }

        input:focus, textarea:focus  {
            background-color: lighten($main-color, 22%);
            border: none;
        }
    }

}