body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: $main-font;
  color: $main-light-color;
}

body {
    background-color: $main-color;
}

a { 
    color: $main-light-color;
    line-height: 1;
    font-size: 14px;
    text-decoration: none;
}

li {
    list-style: none;
}

.highlighted-name {
    color: $accent-color;
    
}
.highlighted-main-name {
    letter-spacing: 3px;
    color: $accent-color;
    font-style: italic;
}