// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: 'Nunito', sans-serif;
$bookstore-font:'Averia Serif Libre', cursive;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$main-color: rgb(102, 62, 16);
$secondary-color: rgb(38, 42, 80);
$third-color: #DFDBC9;
$main-text-color: #fff;
$secondary-text-color: rgb(255, 208, 55);
$danger-color: rgb(155, 22, 22);
$accent-color: rgb(125, 255, 108);
