// Body
$body-bg: #f8fafc;

// Typography
$title-font: 'Anton', sans-serif;
$main-font: 'Bellefair', serif;
$bookstore-font:'Averia Serif Libre', cursive;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$main-color: #000000;
$accent-color: rgb(150, 22, 22);
$secondary-color: #C9C7C5;
$main-light-color: rgb(233, 233, 233);
// $secondary-text-color: rgb(255, 208, 55);
// $danger-color: rgb(155, 22, 22);
// $accent-color: rgb(125, 255, 108);
