.alert {
    width: 400px;
    margin: auto;
    border: 1px solid $main-light-color;
    ul {
        margin: 10px;

        li {
            display: inline-block;
            width: 100%;
            border: 1px solid $main-light-color;
            padding: 10px;

        }
    }
}   