@import url(https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:wght@300&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Anton&family=Bellefair&display=swap);
body,
body * {
  margin: 0;
  padding: 0;
  vertical-align: top;
  box-sizing: border-box;
  font-family: "Bellefair", serif;
  color: #C9C7C5;
}

body {
  background-color: #070f0d;
}

a {
  color: #C9C7C5;
  line-height: 1;
  font-size: 14px;
  text-decoration: none;
}

li {
  list-style: none;
}

nav {
  display: inline-block;
  width: 100%;
  border: 1px solid #C9C7C5;
  margin-bottom: 20px;
}

nav .nav-wrap {
  width: 100%;
  height: 100%;
  padding: 10px 50px;
  display: flex;
  justify-content: space-between;
}

nav .nav-wrap .navbar-left h3 {
  color: #C9C7C5;
  font-family: "Anton", sans-serif;
  font-size: 28px;
  padding-top: 8px;
}

nav .nav-wrap ul.navbar-right {
  display: flex;
  justify-content: space-between;
  float: right;
  margin-left: 50px;
}

nav .nav-wrap ul.navbar-right .nav-item {
  position: relative;
  width: 126px;
  margin-left: 10px;
  margin-top: 8px;
  text-decoration: none;
  list-style-type: none;
  text-align: center;
  padding: 15px 0;
  border-top: 1px solid transparent;
}

nav .nav-wrap ul.navbar-right .nav-item .nav-link {
  font-family: "Anton", sans-serif;
}

nav .nav-wrap ul.navbar-right .nav-item .dropdown-menu {
  overflow: hidden;
  display: none;
  position: absolute;
  left: -1px;
  top: 30px;
  background-color: #070f0d;
  width: 126px;
  padding: 12px 12px;
  z-index: 1;
  transition: all 0.3s;
  border: solid 1px #C9C7C5;
  border-top: none;
}

nav .nav-wrap ul.navbar-right .nav-item:hover {
  border: solid 1px #C9C7C5;
  border-bottom: none;
}

nav .nav-wrap ul.navbar-right .nav-item:hover .dropdown-menu {
  display: block;
}

nav .nav-wrap ul.navbar-right .nav-item:hover .dropdown-menu .dropdown-item {
  text-align: center;
  width: 100px;
  border: solid 1px #C9C7C5;
  padding: 10px 0;
  margin: 0;
  margin-top: 12px;
  transition: all 0.3s;
}

nav .nav-wrap ul.navbar-right .nav-item:hover .dropdown-menu .dropdown-item:hover {
  background-color: #21473d;
}

nav .nav-wrap ul.navbar-right .nav-item:hover .dropdown-menu .dropdown-item:first-of-type {
  margin-top: 0;
}

.card {
  background-color: #070f0d;
  width: 500px;
  margin: 20px auto;
  border: 1px solid #C9C7C5;
}

.card-header {
  font-size: 20px;
  font-family: "Anton", sans-serif;
  border: 1px solid #C9C7C5;
  padding: 10px;
  margin: 10px;
}

.card-body {
  padding: 10px;
}

.card-body .form-group {
  width: 100%;
  display: inline-block;
  padding: 10px;
  border: 1px solid #C9C7C5;
  margin: 10px 0;
}

.card-body .form-group label {
  width: 100%;
  display: inline-block;
  font-size: 16px;
  font-family: "Anton", sans-serif;
}

.card-body .form-group input,
.card-body .form-group textarea {
  width: 100%;
  display: inline-block;
  background-color: #142b25;
  border: 1px solid #070f0d;
  outline: none;
  resize: none;
  margin: 10px 0 6px 0;
  height: 22px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.card-body .form-group textarea {
  height: 150px;
}

.card-body .form-group small {
  width: 100%;
  display: inline-block;
  font-size: 10px;
}

.card-body .form-group input:focus,
.card-body .form-group textarea:focus {
  background-color: #2b5c4f;
  border: none;
}

.card-body .list-item {
  border: 1px solid #C9C7C5;
  padding: 20px;
  margin: 10px 0;
}

.card-body .list-item p.list-item-name {
  display: inline-block;
  width: 100%;
  padding: 10px 0;
}

.card-body .list-item form {
  display: inline-block;
}

.card-body .form-group.author label {
  display: inline-block;
  width: 20%;
}

.card-body .form-group.author select {
  display: inline-block;
  width: 50%;
  height: 22px;
  outline: none;
  background-color: #142b25;
}

.card-body .form-group.author select:focus {
  background-color: #2b5c4f;
}

.alert {
  width: 400px;
  margin: auto;
  border: 1px solid #C9C7C5;
}

.alert ul {
  margin: 10px;
}

.alert ul li {
  display: inline-block;
  width: 100%;
  border: 1px solid #C9C7C5;
  padding: 10px;
}

.btn {
  display: inline-block;
  width: 80px;
  border: 1px solid #C9C7C5;
  padding: 5px;
  text-align: center;
  margin: 5px 5px 0 0;
  background-color: #070f0d;
  line-height: 1;
  transition: all 0.3s;
}

button.btn {
  color: #f8b436;
  border: 1px solid #f8b436;
}

.btn:hover {
  background-color: #162e28;
}

.sort-btn {
  margin: 10px;
  border: 1px solid #C9C7C5;
  display: flex;
  justify-content: space-between;
}

.sort-btn a {
  margin: 20px;
  padding: 5px;
  border: 1px solid #C9C7C5;
  width: 110px;
  text-align: center;
  transition: all 0.3s;
}


